.conda/**
.devcontainer/**
.venv/**
.vscode/**
.vscode-test/**
out/**
intersystems-iris-native/index.js
intersystems-iris-native/package.json
intersystems-iris-native/**/*.node
irisapp/**
src/**
test/**
test/.conda/**
test/.venv/**
.eslintignore
.gitignore
.yarnrc
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.code-workspace
**/*.map
**/*.ts
