.devcontainer/**
.vscode/**
.vscode-test/**
out/**
node_modules/**
intersystems-iris-native/**
irisapp/**
src/**
test/**
.eslintignore
.gitignore
.yarnrc
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.code-workspace
**/*.map
**/*.ts
