# Run 'vsce ls' to verify that the following lines exclude everything not needed in the VSIX.

**
!dist/*.dll
!dist/*.js
!dist/*.node
!dist/*.txt
!intersystems-iris-native/**/*.dll
!intersystems-iris-native/**/*.dylib
!intersystems-iris-native/**/*.so
!images/
!CHANGELOG.md
!LICENSE
!README.md
!package.json
!package.nls.json
!server/
